.header {
    display: flex;
    position: fixed;
    height: 80px;
    background: #ddd;
    top: 0;
}

.url-container {
    display: flex;
    justify-content: center;
    height: 40px;
    align-self: center;
}

.url-container input {
    border-radius: 4px;
    padding: 4px 16px;
    min-width: 200px;
}

.url-container input, span {
    margin-right: 16px;
}

.url-container > svg {
    display: flex;
    align-self: center;
    color: black;
    font-weight: bold;
    margin-right: 16px;
}

.icons {
    font-size: 40px;
}

.buttons {
    cursor: pointer;
}

.resize-container {
    margin: 0 16px;
    padding: 0;
}